.navigation-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  height: 100%;
  flex: 1;
}

.sidenav {
  width: 250px;
  margin-top: 64px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toggle-button {
  margin-right: 15px;
}


.logo {
  margin-right: 10px;
}

.profile {
  width: 100%;
  height: 120px;
  display: block;
  background: url('/assets/2bg.jpg');
  background-size: cover;
  position: relative;
  img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  .name {
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    width: calc(100% - 10px);
  }
}

.mat-list-base {
  padding-top: 0 !important;
}


